import React from "react"
import { hydrateRoot } from "react-dom/client"
import { renderToString } from "react-dom/server"
import Page from "%PAGE_PATH%"
import App from "%APP_PATH%"

hydrateRoot(
    document.getElementById("%ROOT_ID%"),
    <React.StrictMode>
        <App Component={Page}/>
    </React.StrictMode>
);

console.log(renderToString(<App Component={Page} />))